* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.socials {
  width: 80%;
}
body {
  background-color: #99eedf;
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

a {
  color: #99eedf;
  font-size: 1.3rem;
  text-decoration: none;
}
.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 40vh;
  height: 100vh;
  background: #008970;
}

.wrapper .sidenav h1 {
  padding: 20px;
  color: #99eedf;
  text-align: center;
  line-height: 90px;
  font-size: 40px;
}

.wrapper .sidenav ul li {
  list-style: none;
  padding: 25px;
  color: #99eedf;
  font-size: 1.3rem;
  text-align: center;
  transition: all 1s ease;
  cursor: pointer;
}

.wrapper .sidenav ul li:hover {
  background-color: #99eedf;
  color: #008970;
  font-weight: bold;
}

.wrapper .sidenav .socials {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper .sidenav .socials a {
  margin: 0 10px;
  border-radius: 5px;
}

.wrapper .content {
  width: 165vh;
  margin-left: 40vh;
  color: #008970;
}

i {
  font-size: 50px;
}
section {
  height: 100vh;
  padding: 30px;
}

.toggle {
  display: flex;
  justify-content: center;
  padding: 50px;
}

button {
  background: transparent;
  border: none;
  color: #99eedf;
  cursor: pointer;
  font-size: 100px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.2);
}
